* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header-section */

.header {
  padding: auto;
  width: 100%;
  height: auto;
  background-color: lightblue;
  /* vertical-align: middle; */
}
.logo {
  margin-left: 20px;
  margin-top: 5px;
}

.header-name {
  line-height: 1.8;
  position: absolute;
  margin-top: 2px;
  margin-left: 10px;
  width: 250px;
  height: 50px;
  display: inline;
  /* border: 1px solid black; */
}

/* body-section */

.container {
}
