* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header-section */

.header {
  padding: auto;
  width: 2000px;
  height: auto;
  background-color: white;
  /* vertical-align: middle; */
}
.logo {
  margin-left: 20px;
  margin-top: 5px;
}

.header-name {
  line-height: 1.8;
  position: absolute;
  margin-top: 2px;
  margin-left: 10px;
  width: 250px;
  height: 50px;
  display: inline;
  /* border: 1px solid black; */
}

/* body-section */
.main-container {
  display: block;
  width: 2000px;
  height: 1800px;
  background-color: lightgray;
}

.inner-container {
  position: absolute;
  width: 80%;
  height: 1500px;
  background-color: aliceblue;
  margin-top: 50px;
  margin-left: 300px;
  margin-bottom: 30px;
}
.header-input {
  width: 100%;
  height: auto;
  margin-left: 50px;
  display: inline;
  font-size: 30px;
}
.input-task {
  background-color: lightblue;
  font-size: 18px;
}
.input-section {
  font-size: 18px;
}

.header-line {
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background-color: grey;
}

/* article-center */

.task,
.today,
.upcoming {
  padding: 20px;
}
