* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* header-section */

.header {
  padding: auto;
  width: 2000px;
  height: auto;
  background-color: white;
  /* vertical-align: middle; */
}
.logo {
  margin-left: 20px;
  margin-top: 5px;
}

.header-name {
  line-height: 1.8;
  position: absolute;
  margin-top: 2px;
  margin-left: 10px;
  width: 250px;
  height: 50px;
  display: inline;
  /* border: 1px solid black; */
}

/* body-section */
.main-container {
  display: block;
  width: 2000px;
  height: 1800px;
  background-color: lightgray;
}

.inner-container {
  position: absolute;
  width: 80%;
  height: 1500px;
  background-color: aliceblue;
  margin-top: 50px;
  margin-left: 300px;
  margin-bottom: 30px;
}
.header-input {
  width: 100%;
  height: auto;
  margin-left: 8%;
  margin-bottom: 8px;
  display: inline;
  font-size: 30px;
}

/* inner-header-button */

.input-task {
  border-color: aqua;
  background-color: lightblue;
  font-size: 18px;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* margin: 4px 2px; */
  margin-top: 16px;
  border-radius: 5px;
}
.input-section {
  border: 1px 1px 1px 1px solid grey;
  font-size: 18px;
  color: grey;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  border-radius: 4px;
}

.header-line {
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background-color: grey;
}

/* article-center */
.middle-section {
  padding: 50px;
}

.pointer {
  font-size: 14px;
  margin-right: 8px;
}

.task {
  padding: 20px;
  font-size: 18px;
}
.today {
  padding: 20px;
  font-size: 18px;
}
.upcoming {
  padding: 20px;
  font-size: 18px;
}

.check {
  color: green;
  border: 2px solid green;
  border-radius: 20px;
  padding: 4px;
}
.cross {
  color: red;
  border: 2px solid red;
  border-radius: 20px;
  padding: 4px;
  margin-right: 5px;
}

/* right-side-buttons */

.editorial-button {
  margin-left: 5px;
  background-color: lightblue;
  font-size: 12px;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 10px;
}

.q1-button {
  margin-left: 5px;
  background-color: purple;
  font-size: 12px;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 10px;
}

.recruiting-button {
  margin-left: 5px;
  background-color: green;
  font-size: 12px;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 10px;
}

.mobile-button {
  margin-left: 5px;
  background-color: orange;
  font-size: 12px;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 10px;
}

.website-button {
  margin-left: 5px;
  background-color: pink;
  font-size: 12px;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 10px;
}

.sales-button {
  margin-left: 5px;
  background-color: orange;
  font-size: 12px;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 10px;
}

/* article-text */
.text {
  margin: 20px 10px 20px 10px;
}
